{% extends "layout.html" %}

{% block title %}
| Download The Client
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h5>
        Please note, this software currently only runs on Windows.
    </h5>
    <p>
        For best performance, launch Hearthstone, and while still at the Main Menu launch Draft With Me.

        Known issues:
        <ul>
            <li>Resuming a draft in progress is unable to register duplicates.
                Viewers will only see one of each drafted card.</li>
        </ul>
    </p>
    <p>
        <a href="https://s3.amazonaws.com/draftwithme/release/draft_with_me.exe">Download the latest release.</a>
    </p>
</div>
{% endblock %}
